/* HEADER */

header {
  display: block;
}

.mideind-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 64px;
  text-decoration: none !important;
  background: #fff;
  padding: 0 12px;
  border-bottom: 1px solid #dbdde5;
}

.mideind-header-headline {
  font-size: 14px;
  line-height: 18px;
  flex: 1;
  margin: 0;
  font-weight: 600;
  text-decoration: none !important;
  color: inherit;
  display: flex;
  align-items: center;
  background: #fff no-repeat -4px center;
  /* background-image: url('data:image/png,base64iVBORw0KGgoAAAANSUhEUgAAAMAAAADACAYAAABS3GwHAAAl40lEQVR4Ae29B1hUV/7/P4BYErPRxASNBUvQbPOb/HfzLdnsspbdVLb3rtniP3V3Y0cBFQWkWCNJVNLbGtsgVaqKHbtOoQrSexuYYWZeP3jOw7PDs+oEnTtc8NzneduV8XzO63w+59x73x+NYpe85CUveclLXvKSl7zkJS95yUte8pIXMATwAcYK4SN+DY2UeyUHwb3yprN5JlW5C7i0+SpZz1eQ+VwFF2KuUnlyAZbGmYC3HCcJwGCTB/AwdRdDOLfZSJKXhf0aiBdC26VEjYWz0UaqT4cAfhIECcBg0UjgZ1zZfoyUb3ZyQMNNlfyohYsbzmNvjwVGyfGTAAzUFX84HXVPcC1zK+nP1LNfAwe8uqRxIi+REVL/x8zV5K20Vz8BDAc85LhKAAbK5J9NSfJ6TofVkKCxEa+BAx5OJ7+jxN/R2Di1qoYibQQwR+0bZQmA1CiszbPJXWUgeaZVTOLbkgAh6StWTi7Nx1L3GuAjx1kCoLYVfzQd9bMpSckgSdNwOxPfSUZoo0ibialmNjBalkX9DYDUMLDPo2BvHMcWt6AVk1VRabuU81oLxk/jwDwPGCHj0B8ASPlQd/E1jrxYS5Kf3cmq7/pskDjFzuEX6qg/HwPMkPFwEwCy3LH70lIWQN6nOhI0JmUnvnMQumRB/46R5pIAsPrKskgCoKSmU3QgiayftYtjTZVof5cynm+nYHcSMF3GSQKghEZRlp5OgsYuJp4qZackPguYKuMlAXCxOmaR+XgDSVNQLQD7hOio3g8MkzGTALhKw6k4eJBLK+FSCBz9IyRPBK0KJn1il/Z5wY4HIXQKLNfAsR2H5OmQawGQAJRqs9GHg359lyLg0io49AP6dROc0KX3R4mJv+JhoeUT4P2F2cBwGTfXASABuBafjU4A0CMM0XD2dUj9KhwY4t7Jv3soRE+AZX5i4rsbAAmABEBAEAX6cDj5N0j5MsQrXO7s8YbYsbByGiwXk18CIAHoPwAcdWUtHPu9EqWO+H77AxAyzXHCqwgACYAEoCcjXFwB6f6QcK8LAPCAT++GMF9YLia5egGQAEgABATi+9xXIf1JiL/FVf+zu2DTeDHxA0W5o34AJAASAEfpwuD0AjGhnYPw7z+3dRwEOyl3VA+ABEAC0JMRdGsh+3lIfPAmT3p6wgejIGhqz4o/8AGQAEgAhCLB0KWziyDrmf+c/B/dC9ETndX56gdAAiABcAKCKIuO/ubfk3/nGFHuBIpJLAGQAAxiAHoUBmmPw66hsKKn1pcASADuEADEXeSXYMNdsNxPAiABuLMAEHuCtbB8rJi4EgAJwB0EgJAhHJaNkwBIAO5UACJgmcwAagVASgIgAZCSALhfEgAvEUChAQuABMAxhl4SAGfqqPMAfKDzFZqLM6k6nE2j8SAwCxg1YACQAIwCZtGUf5CqI9k0FWZ2xxTwob3Ko0satUg1HwTwwtzkT805PVk/NbFXvODd/T0Hv9NA6cGMbvtBYLQEwAkA7/UbAKMxN82m/FAGGc809IphxtMmqk7q6Wjw750NZAbwBvwoTQvm5Io8YfbU+3n4nl/jxJJWirSxwLfd7JQ8gtJ9h9CrHgDx7+0OcvdL8Z7AfZQe3MTJoFYRL0dHbIdGIMdfz+NqQnBPE5A7HYAxWJtiObn4PElfsXwxp+QZnRz5i4GWApFS3eUB2lK8nyurVQ6AHyzSQNFJd9qi+GAqe5mcv+SQ9NV2MfGdKOkRC8f+//N0VMcC4/vT9r3/mkeYqr5HUfxnJGgsYtA8+2YJmHC3iaIDOlorAgBfwFPhzz2V4o+z0IfbVQvAslGwa0Ul8IgbYuhLW1UAJQd1JE3oo0WkR0+W7+RqYiGm6j8KYPEY7ACMAMsc8j6L4PiSWuI19ts2gjr8gomCvSnYO34M3K3o57c0z+yC4Ci6ULuqAAicCos1sGt1K01VGxUuf7yBGRQlJpHzUjv7XGDrmPNaPfr3I7C3zQFGDFYAptBSpOXIX4pJnGZ1qXtCwkM2sn5eTs3xt4EJCqZUbzpbvk79hXT06xvQh/U/AEtGwtr/aeBiWgZtDUoeEgwBJlJ3NpbMH50ncZLVtW7XvlYO/a6YJr0WmO6u/YF7mke0ls3iyptZjhtc18qjZyA7ubilhMb8BWCbqeBpwyjsllmUfJ6NIaYRfYS7ARCnPaHfsrIv3IC1dbaCx8RewAyaiv/GlR0l3WWL45i7VD0b5ctb8mgrXwzcB3gMVABGYmudx6XtcWT/oQWtG52S0+daMHymx1T2tMLHgfdRd/aflGpr0YfZBAiKAiAm/soxNvZG1nApbT0wW8FJMpyOmqcw/usEmT90lyO2gCDjJybOb4nDUjsPGDnQAPCn+lQGGb+oJ+FBez/ZB9pJnV1MWaYWeETB2nI4na1P0HBxC3lvVKJba1cGAD9R52/8YT2Xs7fS1qBk98gRwCNUHdeS9mwxBzzt/WP9OMpO2o/ru+8rAP7AUDUD4IHd4ktDfgAXNhWiVZFj8sklldRf2Qj2+7ukUUaMAGZQkZGJcaMFfYSLAJgGgb4QNruTzJ3HgJ8puSIC99OYt5HckEr2qqj/wdl1ZTQVLcdumQp4qA8Ae6cvJemJpM8VqVLUiCqQp0ipKd8wo4/b5IZHKqbSWryCsmQj+kgLurBbB2DJMFjzuIXEWCOlF0OAhxWuiUeT/+kmUr9lRivGTiUxFBCkftNMkTYJbNO7pHGFxA9coQZjQNcH7LkRolaZqcp+W/HjUhiCtWMmzQULKP6kBF1YZ58BWOpp5+NFVRSeXYC5daYbTkW8u094usdI1TFMHm2nuSAduE9NGeBB8uJ0HPkxHPwmJAxT38DtHgZvPQB7f1IO1h+56abLEGACVYfjMG7tQL/efnMApsJKPzuRAe2c+JcW+L4bHxeYzql55zn6Ozj4/zl3u+6Pfmi7h0OsBo4EVQHj1ATAOPThVRhjhFPyqRfh4DcgXgXNI3YPFW7KwdOElfiauVaKjge5+YGs0XTULqYsOY28zSZ0a8U7wcYwWD5W2KEs0kDUsyaSt6XReE0cAbrz8fOWohXkbbZgiAHdOuF2nToTtCqI4efDYds44Yi91A+CRjaC7ceAh1oAmIEhurq3U/I6OD4PQW8/NY/Y8QCsntq7tAj9rpXzKSFuBkBMsu59Ult5AGUpOi6vaCPnedikgUCNidRYHRX5AVg7fPvlszXpQzBusvaK4eVQ4XbdP/ET37/1IIT0jiGLNJ1YWt8EhqoFgIe6AKi4rvXH5VWQ+f0ep2TlFe8hTGXXTb6+y5oAILifH8n1wWZZQIMujSZdJjaz0wf7lAfAEIxxs/U6MRRu1xnfgYSR7ovhx/fA6inXt4xZqLFiaXlXTQCMFQDcyP5jPZz5J2TMhngFU+VnI4SbcuDDQitUCoCQl2relhIAhAgArh9D4Xb9GqR/C7SKrfrCCn7jhJvHUADwjuoAcG4JuA5yX4akL0G8CwdN6wFbnLspX78EknIOgIN04XD6RUgc4doY7veAzQ85t4gcuAA4OiWvg8M/gkSf27xl7gkf3gurnLgpO8kAUr1LIKcyRMKVNZD9rHC7vt0YviccsR3LncELgGNteX6p6LTYl41yghAf3QtRE2GZQ6pUHACZAXqXtlFwbjFkPcf13gJzssEVVvCRk2BZH60hF2msmAc2AI4pVYBw8FGnAyiaxHkJG/Eg5+WOgiWQBKB3DIXte8o00Dqf/Hw+TEx85zEcVBnAyWoSAcd+B0mTbvA8iJewEV/hfMWXGUDZEugmG2Vh+57ke+MYbh8DgU7rfOcAdA4qAIQwxMClIDj0o38/558gUiVhvo6pUgKgngxw/WPTQz/sXdZ+MBrWTr5ZDCUADhIbrHgx+Z2c7qinBJIAOJ74CQgSNOKgoi8xkgBEip5a8d4QPtH5gMgM0E8lkJMYXlgOiZMgZAoESgD6nkpTfwZLH5IADLgMIISxS7vmwLJpSmSAdwc5AFGQ8gIsFk9LDsASSAKQHwMf/xyWT3E1AJ10tuyUAMgM4EIAjMGKAPCRAgAs0pjpNEXe0qPiEgB/K6cTgnoZaUl50qgPwrhpoADQgdUULgG4FQV/1UbCG5G93CKkhlN1JBJDtG0AARAhAbgVBU6AzyNqaK1/oksaqS5ZO56gPLUGfQQSgMENgNDKKTaO790KjFJJA5ARwLB+8/JvuLQVY4xY/e8AACQAgVMgeKaZM4k7Ha0U3SQfLI2vcmlbBhn/m03G49lc2HCIjur9wBQ3W5qPpTlvJ8YNZvQRDCAAzCoEIGrAACDkB8t9Osn4oISqq0pbKQqLSFPVbAr3Z5KgaUPb2wmN+C7lfZZFa/ksYDTgoeBnGUZH7c+oyjmBfr3FeTxUBsBijQmraSUwRD0A5G2tQh8xYAAQmiZeRt/yewtH9+lprlLCSnEY9vZ5GD6MI+dlB4tIj+tbAh7+Wwu6uDhsLfOAu1zu+NbZOoeKtAgK36sTL+evZ0ABEDgZomfXA0+qyxal7ryeK6vVCoDzQV05w07kD4rR5bjSStGH6hOvcehPtSROshP/RZ2SH7KT/ds6ak5/ADzmMnfu1qta8t8uxhBlRSxWAw+A1zVwep8eeFA9AJjqPLA0+lP0rgF9hF3FADjPCAs18GlIJZVFG4H7b6EU8QKbL81lARje1xGvMd2GSaydy7F5NJUEYO8UbhG3VHpVzqJUm8WVUJxPfBUDEDjJzvb5Bhor/Glp9OiS5nYlfuAKgQfNhU9Rul+PPsKCPnzAASDkB0tHQNjcDj4NjaPc2Bd34tFYGhaj/yCNjACTsIj0vH1LwLTvmbi8M42Oqr74BY3EXDePawfiyH+rxdGiccABsPR+CHrAxt71BgpPP6VOb1AhL7q7qDRcXkDhOxXowmz9C8A0YSe+/CHx4752XVkx1U74c/Uc3ZPupFWrcIArS48j/Ucd3a7GrndMGGkn7Zl2riY6c4zzAPypP5dB/rZ69JH2W1v1w4X6FQA/WOIFb89vpvDMVkyNj7v6Dr6SbXSepCJtN4YYYQnoNgCmCbe1tXOsbPx1Ee8uPMQHgYeI+UURa79vpTuNrpja14evYMfLDZTqMmiqm4u143+BEVg7J9NS9yQ1F/7GmXUlaDWdbvDOt3MqsIrqM3/D3PAkMBkB4GjMjU/SevV3lOwqRhd6K5PWhnFTG3nbzlOyK5urXcp/8xjGjY2itHUXANO6Ze+KYTvZ7+SA9SXgnoHYIeY+TFWLKdWmYYgyoQtXFoBlPrDmMRsp22soOB0BzAHuQmguRedXs39zGuv8LSwb1beVaNn9EDgGPgruIOOjGj4KjyL97VSOb2gj+etmt1oIaruU7GfmwuY2ru4/SOnnIZTu30HJ3hYMMeY+lzu6cDBu6uDqv3bSnPd34CvACGA4MIZG/V8o+ninWMzCFQNAlJ+jYPXXLOyLSqM6bzEwBvAcyD3CvLCZfWktCega4EKurFEGgEUaO+/8rZLSi1vobL9e8wgPwBubdRrleZv4cGklizR9Ko1EdpkIy6bCzkdtaO+x97//6QQ7J+dbMUTeWrmpWwvFn1TSVib6J1x/snmA/X5aSzZS+E53ExAFABBH0nwWWE5NUQSdHVMBr8HWJdKf+vMZ5L9RL8qiiNsCQNTpU+xEPt3A2QMpwAxgxBfugHIxS8v6Z4tZ+bCdwClfbIWK/hrsm4aw9lCDPECrEUa2F5Z9sYkpxt1G3tZi6i+IY9++jFvtKS3GjcWiLLpNAAInQ9AMOzE/rudiajrwXcfPMsgAcDydiI8j/80WdOtAH9lXAMRqEf2chayPDNQV//UWvTWHU1/+NId369n4awsLNTfpzTUVNnwd4h/oz8nv5P7BvXDuH6CPusmKH0rXuJuozM6gveb7wPBbGrf2yqepzLrYBZEZXegtADAdlmhg4086iN8QR+M1BXqBqRMAx0cDZnEtIYvLK/oAgB8s9uwk6Y0SygwLsFlmAkNuz7XZNpOKogUcfK+EJZ6d1wUg6Kuwt5+crvtiGJY8HvTCfv065U4nFeklmCr+CvYpgOftjZv1q7Rd+xtlSSXd/7ZzABwy9981kLqtjIbySMf7LaoHQAFNwVShJf+tYvSR4g7ldQAQD7B9zUb008UUKNIPWPTBLbkUS9Sz5wn+L2tPWcTSSfDu02AIg0vBkDELEkaraPX3gE9HImxHxkLmX8DYkwUiwBBlJW/reVqLY4GJioxbkzEWY/R59FHW3gD8QgDQU+4Ef9XKG78rpkKndV6y3gkACI3Abp5Deap4RkUXKvwnU34ubn0v7NIbv20nZ1cKmL8P3KV4J/QTB5LY9ud2lmhg4RhIfVFA2WMJeOYfkO7frxlBuCmPFG7KwiJSlGpxz0Oe8GClYGcrNSfixWTDW/Fxq8pJIv/tdnRrxEvxn30PFt4rYrh9QT0H347A2tKrI7wEQMhD1JbVz1J/Nh7j1nKO/K2C1CVVXEjVUXctAOy+gKebPosvTTUB7A4r4BUNpL4koOx9fIhwux7pThAc3JTHOdgLOpQXOwPAGA4luwsxNzwPTAQ83DZuHXUB1OXqMGyu4siCCpKXVnAlu4T68vnAsOt/FgmA4yCOAsY66MF++zztrf68+WoeKS86AOCoKHGUeOSnkDjBDfcAPOHd0bDy+o7YAoDnoOTDPKxt/l3S9ItEzBxj6OOk9FIpAFJeHD0QSubrNgHATZyS++52LdRXN+XlTh7hiPuZjcbcUOl8IQFwhTxpblzIiXXtAgBnjnbhwjI8ZWqP2/XtT/49QyBKuCk7cVgTG873/9oOpoWuKhclAFJjKPrsGPqIPrhdR4sGc0kTb6PLvRe8/UDfeiAsnwDvv34MGCPjJgFwlYZxLT4LXXhf7R2F23XOL0Xv5Pg+tHx6535YO9mxa0ofAFiY5cqX7CUAUsO7AMgWANyKb34EXFoJmXMg3kmjv49HQthkWOk4sfsMQLb0PZIA9BMATloK5b4EydP/c/LvHSIa/TlscAcPABIACYCQgOBKKBx6rmfyC//8kJ4mcYMZAAmABEBIQJDyFdjj7dgJXQIgAbhDADBEQ+5fYesIWOYnAZAA3FkAiM3xagh6UBxxSgAkAHcQAEKGCFg2DlZIACQAdywAY9UMgARASgIgAZCSAEgA3CoPwKtHAxYACYCXgzwkAF9MI8A6l3pdEGWHQqi9sAKYDngPGAAkAN7AdOourRAxvBwE5rnO3wKTAEyjOU/Lod8UkzrXSsoTXZplIfUb56nM/qLvs0oA3us3AMT7wTUnY0n71vnu2HXHkNQ5VrJ+Ukz9petYsEgAhENEa9nzXN52lH3Xe5nEA+I1nZyPKaHeuAC7cIJwLwDaAQLAQ/DpMncD4AXWmTQWLOBSbAnxN7CI3Nuli5uECRfCCeJOB2AkHVXzuLAtjqzftgp7Qa8bPi0pnJLnWtB9YKD16ivAeLcB0HgpDV2oygHwEy+fX0k76EYAhmO69jSGz/RkPG8Rjtg3kpcw8UoP6OBcTBxtpcIL6I4DwC4cjCnPyiDjR/UkjOm7m/LBZ1oojj/oRmsNf4o+KEQXpl4Alo6BnfNrgFnu2avxCKUpWg7OLuaAR99imHCPnbTn6ilN7nHevudOAMALa/tkGvN/R+7q4ts2lN2vsZPz10pqzm7BanpC8VWvo8af/FjRBERVAEyDQF87Mc9VU18ap/BkGo6t4wnqL23h+GuV7L/tGMKJ12toLvoEW4cf4DUYAfAExtB6dTHnotJI+Vo7Whe8Lyv2BpA00caF2DpqzrwK3K3ofqW1+CnK0/QYoi3owvofgCXesO5xCynbDVTq/9DTQEMh3U3D5Ve5vKOO5EdsxLsohloNJHpbOROaTqNecUdodwMwFHgJ40c5pPi3c0BjV8wbM+V/67n8tkMzC6Xcri0zaSlawNVdJejWdfYbAEs1NnYFV1B8bgEWk5IHA6OAWRjeTyf12/UK2r7YSXmyHd3bOdApegIMYAC8MTfMpOLEAnJebEB7u+2C+pBSMwMaqD6dgbl5NjBawSO/CdSe2k7e5hrhdu0GAAKnioZ+G37cwbmE3cCTgLdiE7+z1Z+a8xkc+nUD+9xh/OUpMsKhPzRTdWYr5obHlTzxU2pi+FF1IoQzUUaSJljE5HeXPCFeI5Qb3kr54U3AfQqm1HvobPktFemp5L1h4kqoQgCIEx42/thE+jtptNaIfmHKlaz3U3ViA2ejG//tc+Tp3iYgCRobp0ONlB0KBvyUAF2BVGneyLmwsyQ/3qkKy/CkR9s59loOprKXxIrW5tEljUsFnmD3pb06gIpMHbo1JhcCIFb9JRoLmXFGqksCQHSMVKxkNVe/xKklOSR/s10V5r/Jj1o4veI81uZYYLRaARhNzfnNpD7a4bDBVYE8EPuDr7RQfSZOwb1Bj3xo0r9GwfZaDFGiCcitAhDoCyEz7bzxpzqKT8UAMxTfr5UfmU+6fwPxKoxh8mQzFUc2AferDYAhtJbPI/OXJpX654sBTJ3YQn3uK254rmgYts55VGbGUfheC/ow0Ef2AQA/WPol2PFiC5nvxmEzzXPDvQ5PGvUvkfJYg1jAVKrMZ8y0FG4C7lYTAGPI//AMh5+GpAmoaPUQShAua2y/C5L+XAQ8DXi45REPS/Msrn6WzaUVYIh2DkCgn+ickhGdTWPVLGC0mx4ZGEPuizkc+alosqG2hSyxO4ae8JYGcjeWA+PUBMBYDGsrMcaI3rJHfwWJPipZ+T3hvdEQLGxHWPu9TspyV7j5hssU9NuyOfVnuCKyQbcwhCF6GAvrQ4KmQYwGzoRnAVPc6n/aWrwQ4+Z2jNHC7frwjyHxIXXEUOsJcffDiqmw9GFYM7YemA14qAiA6Ipe3jcXAuHwTxGTsF/aBQm/nfWThOtCz4vnod+1cT45xI0ACLXXziJnQQvpT0Luq6JX15kXYdM94k5uzAT4aAgceaGV9srZXdK4TeBFk34Vxk223m7Xy+BQAMT3SwzF9+/fB+G+vT2TFmrMdLZuArzVCIBjAwkBQto3IN6NqXLPEDHxV/ZuHoEAwMr5FPcDAKM5F7mDAxobCfdA8iOQOEb4gO71Ft8naGyci/zE3f0QBACGEIybrf8Zwwhh+546HeLdOPl3DYPw7hhet3G5FUvLO8BQVQMgFCl0/E+Q9LCyA7dviHBTvpnNiAAguB8A8OSqNojkx6w3/PxJX7WS94n74RQABAsAbmTr2B3D30PSNOVj+JajVcyAB0AIYwxcCoGjv4XE+123UXZ0U143GWEypUoAvKg6G0LKd28MQPLjVkpTxWfrtwzgxMzrYhDk/BoSv+S6GCaKlk/sHAOhU2CpiOFgAsBRAoTs57jt47akLn1yN4T5OnFT7v8SSACQ2wWAvxMAUkJUC4Cj2/XFlZDhD1oXTP4P7oXQyY5xGsQACImUevbvkPJftzJwom7e9JATN2W1ZYDcYJwDEKySEsi5jFGQ+wqkfPnWYrhnKGwY3xPDOwsAAYFoMMeJP0OK800WiT1dU3xg1RTEyYD7AVA4A6i0BHLidn18HuIekNOSVVjBv+kDwT2O2HcqAI66HApHfgbxNxw40R1xzRTnAyRLIKUAcBLDNXD4RzeP4Tv3werbiqEAoHOwAdCzUb6wHNL+r/fA7R4GkROdb3CVzgCyBHIuYzScWwQHv9H7//avEeJYU2xwJQA32RuIsijju2LgPrvbsXmEqgCQJZCTsqgrhqKb/d2i3HHugi0BEIqEy6tEKo2a4GRAZAmkOgB6Ynh+CSSOEyc8YvJLAPrUQCL1B7B8vAIAyBJIsRLIUcYI2P0tWCbG3sUAvHsHAPACLBqrTgBkCeRc+THw8c9g+S1semUGiIKUF2CxiwFY2wXABVkCuQ2Aj37uegAWacx0tsXc8sNwEgBZAjkpgdQOQAdWU/hAA0ACUH0HlkDKARAx0ACQJVDlGfEwnCyBJAB3ZAYo3L2K5K/f5HHoR6wYPlwlS6BBCIAEwO7LxTcOOnHGs3Mu+iD2Dt8uadwmV2QAuQeIUQCAPysCQL+8EtlaFkDWD0xOn5BMf8pEc1FAlzRuU+9XItUPwGJNG7aOhYCXqjKA+gHwg3VzrZTmBrkRAC9sZn8uRBag/YKOaGdXFdDZ5g94ufGl+Be6AKhXOQDCJGzt1+uA76jJFcKH6pwSrqxRNwBLfeD9vxcDc91kNfIwjfoQTq3MY79D84+bykv4mx5/PY+6i8IS0D1OySMp/igdXbi6AViogUPvlQBj1WWM1VE7n4KdDegj1AnAcl9YdTc0lWvdYDI1ApiB8cOs7h5ZHOjrq4Piz5LyzU6ubD8OvOCWBhKWplkYoupFDFUIQKAvbPtdA9WF84EharNGHEpzwavkx9aijxSWgP0PgEiZKybbiXqqmAqdFpiqoBHWcMz1T1B+aAtZv+puHmG/PUNZkQ1If66Ja+lb6KgVTUCUy173Yir/lLzNxejXW1UDQOBkCPqKnc2/riX/+KvAULWa4w7D2jaPsuQ4Cra3oFvXnwCIdLnppxaO7NLTXPE0MFzByT+ba5nrObO+hgRNT/MIV/liCsuU3LU1lCSv7zGFUiADCIg76uZQui+C/DfrRVnbPwAIi0hveOMPLSTHxtFeNw8YpnZ7dGEJ2FE3i/LkLC4HW90OQOA0WHZ3J2nbS6gqXAC2mQpuKEeBZTZnwwzdlifEK+xv2n0fITfEgK11NjBKQaCHYaqaR3laqWgC4lYAxKr/ugZSt2ZRf00xi0ilN1aTaK/aQUFcIYYoK/oIJQEQgxY808qmn+ZRfOot5foK90DeMJuy7AxSxjSgdbftu6aBkpQM2utmK+gfKvr+NufFkrflPCKGygIQOAlCHrPy9vxiagq0wJSB3iJpGHbLHCoyIyj+uAbdOpuLARAr/j81sH1BOye1yWB9UsFyZyjwE4oTt3NieYuY+P1kBqzt0rGFLRTsjQOrKA+U6/w+g5rjn1P4TiNXVrkaALFXW6yBd/9ZT/YHEdja5gAjBkuTPFFbdm/iqg5vRRfagT7CNQAsnwQhfibOJOpoqAwAfAFPxSZ/k/4Vjv7zGklfsRKvEtv3xOl2cl6ppf6C2CAqF8NxmBueoy5Xhz7cJGJ4uwD4iRiuvLeTcymFNFX/UYCMx2DtEzwKq2kjxR+exRDViT7i1gBYPgFW/4+Z7X85QV3RK4CP4s0jas/PJ+NZdTWPcAQhbVZ3b7T5PRAoKB/aq1+mYHsOhph2EcM+AyBK1lWPW/jw9fOY6mKB8cCQO6FTvOgjVnc2hKufGtGtFSA4BcAPAqfAUg/4JKiVc8lbgIluuGPqhb3jZXL+2MB+JZ2SXeCmfPi3DdhbXnbDmIg+YrW5URR/WoVu3RcHYPlEWKSBj5flcT5Fgf5fagfAEQRzw2PUX1hM/rZGdOE3B2CJF4Q/0cCljAzaGh06QCqu4VTnZHJhqbAMPzgTtCprHrFrqHDEDtKAISHTYQ+ktL5EZ9uT1F/MwBDdIEC4EQB+sOw+2PC8icLTetoaFX7cQ/0A9GgEtvaXKNXmYNjQnVLtAoDfw6JRsPxBWDfLyoGNBqwmhY7/nABQsidbZCnhnc+JFyDZr78nv3BTjvXp6YEgVtf3/5EtAHBzaWuzzKJUm44hph59OORFwSc/gKXjIXCynbXfaSd+fQ6WppcBH1prPLqk6U+JH6hBPd3km/MXU7ovjYK4NnJWtLN7WQcpO2rQ5zi/AaQkANfis3tnqGiE2/XvIPEBt5ZFwk3ZE3Y+AKFTxOR33Bu9t9DtADjobuovLuCa9jh529s4vLydXYFt7ItKo+j0DbrAywzgKC+sHZNpLfs2DSXfoanUn07T/zo+AqACABwUAZeCIftpiHfT5P/wS7B28o0PB97vRwCEhmAzT++OIY3dMbz2bTrbJjspd9QJgJQTABz3LGeEU7JiDaX3eMPGhxxXfOcASEkAlAfAoSzSrRNu18nTXLNRTnRwUw5ysIhUHQASAAmAo66Eim6Z8bd1tCm6pqya6jjJ1Q6ABEAC4NgtcxmkPQEJI/twU8sDdt0FEZOcNI9QMwASAAmAgEBslE+/DGn/A/HOzvOHw5aHxPNNotwZwABIACQAjtKFwckX/rN3coL4Odt8ILhXa9dBBIAEQALQs1G+slpkA4fmEQ4tnwYvABIACYBQpLh3kDxFnPA4+ucPfgAkABIAkQk4NQ9ihyJWfgmABODOAUBkAV0wBI8Rq78EQAJwBwEgZIiAZeNghQRAAnDHAjBWAqCYJAASACkJgARASgIgAZCSAEgApAY/ABKA9yQAEgBF3gkeCABMhA9c/U6wBEACUHsyE9069QOwSANn9mVKACQAru7y0m0E1YAuXL0ALL0Ptv2mAXOjy32BJABSQ2kyzse4STQBURcAwlR2/ZwG8k4o5AwnAZASTUBeoSCuCEO0cErubwACJ0LIY3Z2vFTL1dOvysmvNABS3sBTVB95i6IPW9Ct7ScA/GCJBt57vYWju+LA7MQdWkoC4Or+AJam2dTmZqBbI8oidwGwbBwEaRo4k5hBc42T/gBSEgDFLQHNs7n62UUMMWYBgiIAiHJnzf9Y+VeQAXOzey0iJQBSTjLC/1J7OpSSPbXow2wCBJcAIM72A++3sSu0hjMJzi0ipfoJAKnhWJqeoO7MFvK2VqILs98eANNhsQdEfa+D8ylbaalRqkukBEBKgT7B3U0CDTHitKivAAT6wtpvdZKy9Sy2jo0DsdyRAEg9THNBCNcSjOjDLOjCnQOwdAwE+1jQbjJSfDYE8HPSNUVK1QBIeWM1zaTJuICi966hC7P2AmDpOIfJ7wE7/9ZA3skFtDfNdH/XFAmAlLJtoWZQkfkBxi0dGKJsXFwMEUMh+L9srH+unSMf5gAvDeabWRIAqdG0Vy2kdP9a8j7O4+J7eaRsW0tt4UK1NY+QAEgp2WDOG7v5UbB0CW858ZWSBEBKSgIgJSUBkJKSAEhJSQCkpCQAUlL/D4sfB6UI5L2mAAAAAElFTkSuQmCC'); */
  background-size: 44px 44px;
  padding-left: 42px;
}
.mideind-header-slogan {
  color: #777c7e;
  font-weight: normal;
  display: block;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
  color: #222;
  font: 13px/18px arial, sans-serif;
  display: flex;
  flex-direction: column;
}

#spinnerContainer {
    margin: auto;
    padding-top: 100%;
}

.sidebar {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* overflow-y: scroll; */
  padding: 12px;
  position: absolute;
  width: 100%;
}

.block {
  background-color: #ffffff;
  display: block;
  box-shadow: inset 0 2px 0 0 #e8eff2;
}
block + .block,
.block + .block {
  margin-top: 16px;
}

.inline {
  display: inline-block;
}

.inline + .inline {
  margin-left: 12px;
}

.top,
.top-left {
  top: 0;
  position: absolute;
}

.top-right {
  top: 0;
  position: absolute;
  right: 0;
}

.bottom,
.bottom-left,
.button-bar {
  bottom: 0;
  position: absolute;
}

.bottom-right,
.button-bar-right {
  bottom: 0;
  position: absolute;
  right: 0;
}

/* FOOTER */

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  /* color: white; */
  /* text-align: center; */
}

#mideindFooter {
  display: flex;
  height: 30px;
  font-size: 10px;
  padding: 7px;
  padding-bottom: 0px;
}

/* ANNOTATIONS */

#annotationContainer {
  background-color: #eeeeee;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#annotations {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 12px;
}

.annotation.block.animated-background {
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: clickIndication;
    animation-timing-function: linear;
    background: linear-gradient(to right, white 8%, rgba(255, 255, 255, 0.591 18%, white 33%));
}

.annotation {
  user-select: none;
  padding: 15px 15px 10px 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.5s;
}

/* .annotation:hover {
    background-color: rgba(255, 255, 255, 0.201);
} */

.ruleArea {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 14px;
}

.errorArea {
  margin-bottom: 12px;
  font-size: 14px;
}

.errText{

}

.errDetail{
    color: #999;
}

/* BUTTONS */

.button-container {
  margin: 12px;
}

.button + .button,
button + button,
input + input {
  margin-left: 12px;
}
